# Database
DATABASE_URL="postgresql://avilatek_user:avilatek_password@localhost:5432/avilatek_db?schema=public"

# JWT
JWT_SECRET="este-es-un-secreto-muy-seguro-para-desarrollo"
JWT_EXPIRES_IN="24h"

# Frontend
FRONTEND_URL="http://localhost:3001"

# App
PORT=3000
NODE_ENV=development 