# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/avilatek_ecommerce?schema=public"

# JWT
JWT_SECRET="tu-super-secreto-jwt-muy-seguro-y-largo-para-produccion"

# App
PORT=3000
NODE_ENV=development 